@import '../../styles/breakpoints';

@function column-size($column-count) {
  @return 0 0 calc(100% / var(--grid-columns) * $column-count);
}

.column {
  box-sizing: border-box;
  flex: 1;

  &-xs {
    @media (max-width: $breakpoint-sm) {
      flex: column-size(var(--col-xs));
    }
  }

  &-sm {
    @media (min-width: $breakpoint-sm) {
      flex: column-size(var(--col-sm));
    }
  }

  &-md {
    @media (min-width: $breakpoint-md) {
      flex: column-size(var(--col-md));
    }
  }

  &-lg {
    @media (min-width: $breakpoint-lg) {
      flex: column-size(var(--col-lg));
    }
  }

  &-xl {
    @media (min-width: $breakpoint-xl) {
      flex: column-size(var(--col-xl));
    }
  }

  &-xxl {
    @media (min-width: $breakpoint-xxl) {
      flex: column-size(var(--col-xxl));
    }
  }
}
