@import '../../styles/breakpoints';

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: var(--space-lg);

  @media (min-width: $breakpoint-sm) {
    max-width: 520px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 690px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 920px;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: 1152px;
  }

  @media (min-width: $breakpoint-xxl) {
    max-width: 1230px;
  }

  .fullwidth {
    max-width: none;
  }
}
